.home-products {
  .container {
    .section-title {
      margin-bottom: 4rem;
    }

    .cards-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;

      .card {
        height: 240px;
        position: relative;
        background: var(--primary-color);
        padding: 0 2.5rem;
        border-radius: var(--border-radius);

        display: flex;
        justify-content: end;
        align-items: center;

        img {
          width: 72px;
          position: absolute;
          right: 2.5rem;
          bottom: 0;
        }

        .data {
          .h4-span {
            margin-bottom: 1rem;

            h4 {
              color: var(--text-color-lighter);
            }

            span {
              color: var(--text-color-light);
            }
          }

          .btn {
            padding: 0.4rem 1.2rem;
            border-radius: 0.7rem;
          }
        }
      }
    }
  }
}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@        BREAKPOINTS        @@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@media screen and (max-width: 1440px) {
  .home-products {
    .container {
      .cards-container {
        gap: 1.5rem;

        .card {
          height: 208px;
          padding: 0 2rem;

          img {
            width: 64px;
            right: 2rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .home-products {
    .container {
      .cards-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 3.5rem 1.5rem;

        .card:nth-child(3) {
          grid-column: 1/3;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .home-products {
    .container {
      .section-title {
        margin-bottom: 2rem;
      }

      .cards-container {
        grid-template-columns: 1fr;
        gap: 2.5rem;

        .card {
          height: 144px;

          img {
            width: 44px;
          }

          .data {
            .btn {
              padding: 0.3rem 1rem;
            }
          }
        }

        .card:nth-child(3) {
          grid-column: unset;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
}
