.footer {
  background-image: url('../img/footer-background-img.webp');
  background-repeat: no-repeat;
  background-size: 1920px 320px;
  background-position: center;

  .container {
    position: relative;

    .footer-container {
      background: var(--container-color);
      padding: 3rem;
      border-radius: 1.5rem;

      display: grid;
      gap: 1.5rem;

      .divider {
        background: var(--divider-color);
        width: 100%;
        height: 1px;
      }

      .footer-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        > div {
          display: flex;
          align-items: center;
          gap: 1rem;

          img {
            width: 88px;
          }

          span {
            font-family: 'bold';
            color: var(--text-color-dark);
          }
        }

        a {
          background: var(--primary-color);
          color: var(--text-color-ultra-light);
          display: flex;
          align-items: center;
          justify-content: center;
          height: 48px;
          padding-inline: 1.5rem;
          border-radius: 10rem;

          span {
            font-family: 'light';
            margin-right: 4px;
          }

          strong {
            font-family: 'bold';
            margin-right: 1rem;
          }
        }
      }

      .footer-features {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        div {
          display: grid;
          justify-items: center;
          text-align: center;
          gap: 0.75rem;
        }
      }

      .footer-social {
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        gap: 2rem;

        .divider {
          width: 1px;
          height: 100%;
        }

        strong {
          font-family: 'bold';
          color: var(--text-color-dark);
          margin-bottom: 1rem;
          display: block;
        }

        .social {
          div {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;

            a {
              color: var(--primary-color);
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 4px;
              height: 40px;
              padding-inline: 1.5rem;
              border: 1px solid var(--primary-color-light);
              border-radius: 10rem;

              span {
                order: -1;
              }
            }
          }
        }

        .address {
          strong {
            margin-bottom: 0.5rem;
          }

          p {
            margin-bottom: 1rem;
          }

          div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;

            a {
              color: var(--primary-color);
              display: flex;
              align-items: center;
              justify-content: center;

              height: 40px;
              padding-inline: 1rem;
              width: 100%;
              border: 1px solid var(--primary-color-light);
              border-radius: 10rem;
            }
          }
        }
      }

      .footer-links {
        strong {
          font-family: 'bold';
          color: var(--text-color-dark);
          margin-bottom: 1rem;
          display: block;
        }

        .links {
          display: grid;
          gap: 1rem;

          div {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            gap: 1rem;

            a {
              font-size: var(--small-font-size);
              color: var(--text-color-dark-light);
              display: grid;
              place-items: center;
              height: 36px;
              width: 100%;
              padding-inline: 1rem;
              white-space: nowrap;
              border: 1px solid var(--divider-color);
              border-radius: 10rem;
            }
          }
        }
      }

      .footer-copy {
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
          font-size: var(--tiny-font-size);
          color: var(--text-color-dark-light);
        }

        div {
          display: flex;
          align-items: center;
          gap: 1.5rem;

          img {
            width: 40px;
            cursor: pointer;
          }
        }
      }
    }
  }

  .container::after {
    content: '';
    position: absolute;
    width: 85%;
    height: 5rem;
    inset: auto 0 -1rem 0;
    margin-inline: auto;
    background: hsla(216, 41%, 48%, 12%);
    filter: blur(12px);
    z-index: -1;
  }
}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@        BREAKPOINTS        @@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@media screen and (max-width: 1440px) {
  .footer {
    .container {
      .footer-container {
        padding: 2rem;
        gap: 1.25rem;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .footer {
    .container {
      all: unset;

      .footer-container {
        padding: 1.5rem;
        border-radius: 0;

        .footer-social {
          gap: 1.5rem;
        }

        .footer-links {
          .links {
            div {
              gap: 0.75rem;

              a {
                padding-inline: 0.75rem;
              }
            }
          }
        }
      }
    }

    .container::after {
      all: unset;
    }
  }

  .footer.section {
    padding: 1.5rem 0 0 0;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    .container {
      .footer-container {
        padding: 1.25rem;

        .footer-header {
          flex-direction: column;
          gap: 1rem;

          > div {
            flex-direction: column;
            gap: 0.5rem;

            img {
              width: 80px;
            }
          }

          a {
            height: 44px;
            width: 100%;
          }
        }

        .footer-features {
          grid-template-columns: repeat(2, 1fr);
          gap: 1rem 1.5rem;

          div {
            gap: 0.5rem;

            svg {
              width: 32px;
              height: 32px;
            }
          }
        }

        .footer-social {
          grid-template-columns: 1fr;

          .divider {
            width: 100%;
            height: 1px;
          }

          strong {
            margin-bottom: 0.75rem;
          }

          .social {
            div {
              grid-template-columns: repeat(4, 1fr);
              gap: 0.75rem;

              a {
                gap: 0;
                height: 40px;
                padding-inline: 1rem;

                span {
                  display: none;
                }
              }
            }
          }

          .address {
            p {
              margin-bottom: 0.75rem;
            }

            div {
              gap: 0.75rem;

              a {
                height: 40px;
                padding-inline: 0.75rem;
              }
            }
          }
        }

        .footer-links {
          overflow-x: scroll;

          strong {
            margin-bottom: 0.75rem;
          }

          .links {
            overflow-x: scroll;
            gap: 0.75rem;

            div {
              a {
                height: 40px;
                padding-inline: 1rem;
              }
            }
          }

          .links::-webkit-scrollbar {
            display: none;
          }
        }

        .footer-links::-webkit-scrollbar {
          display: none;
        }

        .footer-copy {
          flex-direction: column;
          gap: 0.75rem;

          p {
            text-align: center;
          }
        }
      }
    }
  }
}
